{% extends 'main.html'%}

{% block content%}
<head>
    <title>Add Blog</title>
    <!-- Add Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl1Y/M6YlPKuFPi5Bi7j3Ov1zCkpeVoCXp4oMGZZPm" crossorigin="anonymous">
    <!-- Add custom CSS -->
    <style>
        body {
            padding: 20px;
        }
        .form-container {
            max-width: 600px;
            margin: 0 auto;
        }
        .submit-button {
            margin-top: 15px;
        }
    </style>
</head>
<body>
    <div class="container form-container">
        <h1 class="mt-5"> New Blog</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title.label_tag }} {{ form.title }}
            <br>
            {{ form.content.label_tag }} {{ form.content | safe }}
            <br>
            <button type="submit" class="btn btn-primary submit-button">Add New Blog</button>
        </form>
    </div>
    <script src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>
    <script>
        CKEDITOR.replaceAll();
    </script>
</body>
{% endblock%}
