{% load static%}
<div class="wrapper">

        
    <header id="header">

        <div class="header-items">

            <div class="title">

                {% comment %} <div class="logo-image">
                    <img src="{% static 'images/logo.jpg' %}" alt="logo-image" height="70", width="70">
                </div> {% endcomment %}
                <div> 
                    <h1 class="name">PORTFOLIO</h1>
                </div>

            </div>

            <nav id="navbar">
            
                <ul>
                    <li><a href={% url 'home'%}>Home</a></li>
                    <li><a href={% url 'project'%}>Project</a></li>
                    <li><a href={% url 'skill_list'%}>Skills</a></li>
                    <li><a href={% url 'contact'%}>Contact</a></li>
                    <l1><a href={% url 'blog'%}>Blog</a></l1>
                </ul>
        
            </nav> 

        </div>

    </header>
</div>    