{% load static%}    
  <header id="header">  
  <!-- As a heading -->
  <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">PORTFOLIO</span>

    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href={% url 'home'%}>Home</a>
          </li>
        <li class="nav-item">
          <a class="nav-link active" href={% url 'project'%}>Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'skill_list'%}>Skill</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href={% url 'contact'%}>Contact</a>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link" href={% url 'blog'%}>Blog</a>
        </li> {% endcomment %}
      </ul>
  </nav>

</header>